# Recursión

En este notebook vamos a ver un ejemplo de recursión en SQL. Para esto vamos a usar PSQL.

In [2]:
%load_ext sql

In [3]:
%sql postgresql://adriansotosuarez:@localhost/recursion

/usr/local/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: adriansotosuarez@recursion'

In [8]:
%%sql

CREATE TABLE Vuelos(ciudad_origen VARCHAR(100), ciudad_destino VARCHAR(100), 
               PRIMARY KEY(ciudad_origen, ciudad_destino))

 * postgresql://adriansotosuarez:***@localhost/recursion
Done.

[]

In [9]:
%%sql
INSERT INTO Vuelos VALUES('Santiago', 'Buenos Aires');
INSERT INTO Vuelos VALUES('Buenos Aires', 'Madrid');
INSERT INTO Vuelos VALUES('Madrid', 'Doha');
INSERT INTO Vuelos VALUES('Doha', 'Katmandú');
INSERT INTO Vuelos VALUES('Santiago', 'Lima');
INSERT INTO Vuelos VALUES('Lima', 'Miami');

 * postgresql://adriansotosuarez:***@localhost/recursion
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
WITH RECURSIVE Alcanzo(ciudad_origen, ciudad_destino) AS (
    SELECT * FROM Vuelos
    UNION
    SELECT V.ciudad_origen, A.ciudad_destino
    FROM Vuelos V, Alcanzo A
    WHERE V.ciudad_destino = A.ciudad_origen
)
SELECT * FROM Alcanzo WHERE ciudad_origen='Santiago'

 * postgresql://adriansotosuarez:***@localhost/recursion
6 rows affected.

[('Santiago', 'Buenos Aires'),
 ('Santiago', 'Lima'),
 ('Santiago', 'Madrid'),
 ('Santiago', 'Miami'),
 ('Santiago', 'Doha'),
 ('Santiago', 'Katmandú')]